/*article category block*/

.articleCategory_container{
    padding: 9px;
    margin-bottom: 30px;
}
.anArticle_container a {
    color: #212529;
}

.anArticle_container a:hover {
    color: #06090a;
}
/*====================articles page===========================*/
/*inside of article blog*/
.articleBlog h3{
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(221, 221, 221, 0.81);
}

.articleBlog h3 small{
    margin-left: 10px;
}

.articleBlog .article_cate_btn{
    margin-top: 16px;
}

.articleBlog .btn-primary{
    position:absolute;
    margin-top: -10px;
    margin-right: 30px;
    right:0;
}
/*====================An Article page===========================*/
.anArticle_container .page-header {
    margin-top:0;
}

.anArticle_container .page-header h3{
    margin:0 0 10px 0;
    padding:0;
}

.anArticle_container .page-header h3 small a{
    color: #777;
}

/*edit button, delete button*/
.anArticle_container .editArticleBtn, .articleBlog .deleteArticleBtn{
    margin-right: 10px;
    cursor: pointer;
}
.anArticle_container .editArticleBtn img, .articleBlog .deleteArticleBtn img{
    width: 18px;
}
