@font-face {
    font-family: "Ruizixiyuan";
    src: url("/css/fonts/锐字工房云字库细圆GBK.ttf");
}

@font-face {
    font-family: "Zikutang";
    src: url("/css/fonts/腾祥智黑简-W3.ttf");
}

@font-face {
    font-family: 'Barlow_thin';
    src: url("/css/fonts/BarlowSemiCondensed-Thin.ttf");
}
body {
    overflow-x: hidden;
    font-family: 'Ruizixiyuan', sans-serif;
    background-color: #ffffff;
    height: 100%;
    width: 100%;
    color: #333;
}


html, body, #app, #app>div {
    height: 100%
}

/*list style*/
ul{
    list-style:none;
    padding-left:0;
}

/*anchor style*/
a{
    color: #333;
    text-decoration: none;
}
a:hover, a:visited{
    text-decoration: none;
}

a:hover {
    color: #333;
}

.input-group-addon{
    background-color: #eee;
}

p {
    line-height: 1.75;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    font-family: 'Zikutang', sans-serif;
}

section {
    padding: 100px 0;
}

.section-heading {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
}

.section-subheading {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px;
    text-transform: none;
    font-family: 'Ruizixiyuan', sans-serif;
}

@media (min-width: 768px) {
    section {
        padding: 80px 0;
    }
}

.btn-xl {
    font-size: 18px;
    padding: 20px 40px;
}

.btn-primary {
    background-color: #FFB300;
    border-color: #FFB300;
}

.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
    background-color: #fec810 !important;
    border-color: #fec810 !important;
    color: white;
}

.btn-primary:active, .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
    background: #FFC107;
    text-shadow: none;
}

::selection {
    background: #FFC107;
    text-shadow: none;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

/*background Image*/
.contentTop,
#indexTop,
.indexBlocks,
.login_container,
.profileHeader,
.videoCoverImgContainer{
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
}
/*yello background*/
.titleLine span,
.cateSelected,
/*.blockBtn,*/
/*.blockBtn a,*/
.addNewWrapper label[for=videoCoverBtn],
.addNewWrapper label[for=uploadVideoBtn],
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
{
    background-color: #FFB300;
    color:#fff;
}

.cateSelected:hover,
/*.blockBtn:hover,*/
/*.blockBtn a:hover,*/
.addNewWrapper label[for=videoCoverBtn]:hover,
.addNewWrapper label[for=uploadVideoBtn]:hover{
    background-color: #ffa621;
}

.btn {
    font-family: 'Ruizixiyuan', sans-serif;
    font-weight: 700;
}

/*blocks style*/
.articleBlog .thumbnail,
.articleCategory_container{
    background-color: #f7f7f9;
    border: 1px solid #ddd;
    border-radius:4px;
}

/*============navbar=================*/

#mainNav {
    background-color: #212529;
}

#mainNav .navbar-brand {
    color: #FFC107;
    font-family: 'Zikutang', sans-serif;
}

#mainNav .navbar-nav li a:hover, #mainNav .navbar-nav li a:active, #mainNav .navbar-nav li a:focus{
    color: #eeeeee;
    background-color: inherit;
}


#mainNav a{
    color: #FFC107;
}

#mainNav a:hover {
    color: #fec503;
}

@media (min-width: 992px) {
    #mainNav {
        padding-top: 10px;
        padding-bottom: 10px;
        -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
        -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
        transition: padding-top 0.3s, padding-bottom 0.3s;
        border: none;
        /*background-color: rgba(33, 37, 41, 0.47);*/
    }
    #mainNav .navbar-brand {
        font-size: 1.75em;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
    }
}

.top-banner-container{
    height: 360px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    margin-bottom: 40px;
}


.top-banner-container h2{
    padding-top: 150px;
    padding-bottom: 100px;
    color: white;
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Zikutang', sans-serif;
}

.top-banner-container .banner-sub-title{
    width: 60%;
    padding-bottom: 100px;
    margin: -100px auto 0 auto;
    color: white;
    font-size: 18px;
    font-family: 'Zikutang', sans-serif;
}

/*title-line*/
.titleLine {
    margin: 0 auto 0 0;
    display: table;
}

.titleLine span {
    position: absolute;
    width: 8px;
    margin-top: 10px;
    height: 24px;
    background-color: #FFC107;
}

.titleLine h4 {
    color: #3a3a3a;
    font-size: 24px;
    margin-left: 14px;
    margin-bottom: 0;
}

.titleLine h4 small, .anArticle_container .page-header h3 small {
    margin-left: 10px;
    text-transform: uppercase;
}

.paragraphImg{
    position: relative;
    width: 80%;
    margin: 0 auto;
}

.paragraphImg img{
    width: 100%;
}

/*============page 1: landinge page=============*/

header.masthead {
    text-align: center;
    color: white;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header.masthead .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
    font-size: 22px;
    line-height: 22px;
    margin-bottom: 25px;
    /*text-transform: uppercase;*/
    font-family: 'Barlow_thin', sans-serif;
}

header.masthead .intro-text .intro-heading {
    font-size: 50px;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 25px;
    font-family: 'Zikutang', sans-serif;
}

@media (min-width: 768px) {
    header.masthead .intro-text {
        padding-top: 300px;
        padding-bottom: 200px;
    }
    header.masthead .intro-text .intro-lead-in {
        font-size: 40px;
        line-height: 40px;
        margin-bottom: 25px;
    }
    header.masthead .intro-text .intro-heading {
        font-size: 75px;
        line-height: 75px;
        margin-bottom: 50px;
    }
}
/*==============page 2: services================*/
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.service-icons-wrapper{
    width: 140px;
    height: 140px;
    padding: 8px;
    margin: 0 auto 10px auto;
    border: 1px solid #eeeeee;
    border-radius: 50%;
}

.service-icons{
    background: linear-gradient(to bottom, #ffeb3b 0%, #ffa904 100%);
    /*background-color: #FFC107;*/
    border-radius: 50%;
}

.service-icons img{
    width: 100%;
    padding: 20px;
}

/*===============page 3: indexArticles===============*/
#indexArticles{
    background-color: #f8f9fa;
}

#indexArticles .section-heading{
    margin-bottom: 35px;
}

.articleThumbnail{
    padding: 0;
}


.articleThumbnail .thumbnailImg{
    width: 100%;
    height: 160px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.articleThumbnail .caption{
    margin-bottom: 10px;
    height: 120px;
    overflow: hidden;
    padding: 10px;
}
.articleThumbnailHeader{
    background-color: #212529;
    height: 0px;
    margin-top: -40px;
}

.articleThumbnail .caption h5{
    text-align: center;
    font-family: 'Ruizixiyuan', sans-serif;
    line-height: 20px;
}

/*=================page 4: study=================*/
#indexStudy{
    background-color: #ffffff;
}
/*==================page 5: contact us=================*/
section#contact {
    background-color: #212529;
    background-repeat: no-repeat;
    background-position: center;
}

section#contact .section-heading {
    color: #fff;
}

section#contact .form-group {
    margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
    padding: 20px;
}

section#contact .form-group input.form-control {
    height: auto;
}

section#contact .form-group textarea.form-control {
    height: 248px;
}

section#contact .form-control:focus {
    border-color: #FFC107;
    box-shadow: none;
}


section#contact :-ms-input-placeholder {
    font-weight: 700;
    color: #ced4da;
}

section#contact #junhuanContact{
    font-size: 14px;
    list-style: none;
    padding: 0;
    display: table;
    margin: 40px auto;
}

section#contact #junhuanContact li{
    margin: 4px;
    display: inline;
    padding: 8px;
    background-color: #FFC107;
}

section#contact #sendMessageButton i{
    margin-left: 10px;
}

/*===================footer===================*/
footer {
    padding: 25px 0;
    text-align: center;
}

footer span.copyright {
    font-size: 90%;
    line-height: 40px;
    text-transform: none;
}

footer ul.quicklinks {
    font-size: 90%;
    line-height: 40px;
    margin-bottom: 0;
    text-transform: none;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    font-size: 20px;
    line-height: 40px;
    display: block;
    width: 40px;
    height: 40px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: white;
    border-radius: 100%;
    outline: none;
    background-color: #212529;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
    background-color: #FFC107;
}

/*common elements*/
.contentTop{
width:100%;
height:150px;
/*background-image: url("/image/policyBlock.jpg");*/
/*background-position: bottom;*/
/*-moz-box-shadow:    inset 1px -4px 9px -6px;*/
/*-webkit-box-shadow: inset 1px -4px 9px -6px;*/
/*box-shadow:  inset 1px -4px 9px -6px;*/
}

/*==========popupPanel==========*/
.popupContainer{
    display: block;
    position: fixed;
    z-index: 15;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.popupContainer .modal-content{
    background-color: #f7f7f9;
    margin: 25% auto;
    padding: 8px 8px 20px 8px;
    width: 360px;
}

.popupContainer h4{
    text-align:center;
    margin-top:20px;
}
.popupContainer .blockBtn{
    width: 90%;
    /*background-color: #FFB300;*/
    display:table;
    margin: 5px auto;
    color: #f7f7f9;
}