.staticPageContainer{
    margin-bottom: 150px;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,hsla(0,0%,0%,0)), color-stop(50%, hsla(0, 0%, 87%, 0.75)), color-stop(100%,hsla(0,0%,0%,0)));
    background: -webkit-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0, 0%, 87%, 0.75) 50%, hsla(0,0%,0%,0) 100%);
    background:    -moz-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0, 0%, 87%, 0.75) 50%, hsla(0,0%,0%,0) 100%);
    background:     -ms-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0, 0%, 87%, 0.75) 50%, hsla(0,0%,0%,0) 100%);
    background:      -o-linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0, 0%, 87%, 0.75) 50%, hsla(0,0%,0%,0) 100%);
    background:         linear-gradient(left, hsla(0,0%,0%,0) 0%, hsla(0, 0%, 87%, 0.75) 50%, hsla(0,0%,0%,0) 100%);
}
/*============aboutusContainer=============*/
#aboutUsContainer{
    width: 60%;
}

#aboutUsContainer p{
    font-size: 18px;
}

/*============servicesContainer=============*/
#servicesContainer{
    padding: 20px;
}
#servicesContainer .thumbnail{
    padding: 0;
    min-height: 320px;
}

#servicesContainer .thumbnail .serviceTopMargin{
    height: 14px;
    background-color: #FFC107;
    margin-bottom: 20px;
}

#servicesContainer .thumbnail img{
    width: 60px;
}

#servicesContainer .thumbnail .caption h4{
    text-align: center;
}